//main colors
$textColor: #3b3b3b;
$textFont: 'Lato', sans-serif;
$headerColor: #ffffff;
$headerFont: 'Lato', sans-serif;
$mainColor: #43266e;

$color3: #ba69dd;
$color4: #f3e86d;

$headerHeight: 9rem; //в rem
$topbarHeight: 3rem; //в rem

$breakpoint1: 768px; //header breackpoint
